<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.victor.nesthabit">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity"/>
        <activity android:name=".ui.activity.RecordActivity"/>
        <activity android:name=".ui.activity.AlarmActivity"/>

        <service
            android:name=".service.NetworkService"
            android:enabled="true"/>
        <service android:name=".service.RecordingService"/>

        <receiver
            android:name=".broadcast.AlarmReceiver"
            android:enabled="true">
        </receiver>

        <activity android:name=".ui.activity.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.RemindFriendActivity">
        </activity>
        <activity android:name=".ui.activity.LoginActivity">
        </activity>
        <activity android:name=".ui.activity.AddAlarmActivity">
        </activity>
        <activity android:name=".ui.activity.MusicSettingActivity">
        </activity>
        <activity android:name=".ui.activity.MusicProfileActivity">
        </activity>
        <activity android:name=".ui.activity.AddNestActivity">
        </activity>
        <activity android:name=".ui.activity.ProfileActivity">
        </activity>
        <activity android:name=".ui.activity.AdviceActivity">
        </activity>
        <activity android:name=".ui.activity.NestSpecificActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".ui.activity.RankActivity">
        </activity>
        <activity android:name=".ui.activity.MemberListActivity">
        </activity>
        <activity android:name=".ui.activity.NestGroupDetailActivity">
        </activity>
        <activity android:name=".ui.activity.AddRemindActivity">
        </activity>
        <activity android:name=".ui.activity.ChooseActivity">
        </activity>
    </application>

</manifest>